<div class="row">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="feed col-sm-6"> <div id ="newpost">
                New post

                <form class="input">
                    <label for="title"><br>Post Title</label> <br>
                    <input type="text" id="title" class="intitle" name="title"><br>
                    <div>Content:</div>
                    <div id="postbody" class="input" role="textbox"
                         contenteditable >
                        Input Some Good Vibez Here
                    </div>

                    <button id="postbutton">
                        Post
                    </button>
                </form>
            </div>
            <div class = "post">



                <div class="post_title">
                    <img src="logos/vibez_logo.png" class="profile_pic" alt="profile pic">
                    Welcome To Vibez
                    <br>
                    Vibez Staff

                </div>
                <div class="post_content">
                    <p>
                        This is a mockup of our home page, on the right are trending users and topics, on the left is our navigation bar, these are examples of what posts might look like.
                    </p>
                </div>



            </div>

            <div class = "post">



                <div class="post_title">
                    <img src="profile_pics/neeson.PNG" class="profile_pic" alt="profile pic">
                    Who Are You?
                    <br>
                    Bryan Mills

                </div>
                <div class="post_content">
                    <p>
                        I don't know who you are. I don't know what you want. If you are looking for ransom, I can tell you I don't have money. But what I do have are a very particular set of skills; skills I have acquired over a very long career. Skills that make me a nightmare for people like you. If you let my daughter go now, that'll be the end of it. I will not look for you, I will not pursue you. But if you don't, I will look for you, I will find you, and I will kill you.

                    </p>
                </div>



            </div>


            <div class = "post">



                <div class="post_title">
                    <img src="logos/vibez_logo.png" class="profile_pic" alt="profile pic">
                    What to do?
                    <br>
                    post author

                </div>
                <div class="post_content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

            </div>


            <div class = "post">



                <div class="post_title">
                    <img src="profile_pics/montoya.png" class="profile_pic" alt="profile pic">
                    To A Certain Count
                    <br>
                    Inigo Montoya

                </div>
                <div class="post_content">
                    <p>
                        Hello, my name is Inigo Montoya. You killed my father. Prepare to die.

                    </p>
                </div>



            </div>


            <div class = "post">



                <div class="post_title">
                    <img src="profile_pics/bee.png" class="profile_pic" alt="profile pic">
                    About The Bees
                    <br>
                    Barry B. Benson

                </div>
                <div class="post_content">
                    <p>
                        According to all known laws
                        of aviation,
                        there is no way a bee
                        should be able to fly.
                        Its wings are too small to get
                        its fat little body off the ground.
                        The bee, of course, flies anyway
                        because bees don't care
                        what humans think is impossible.

                    </p>
                </div>



            </div></div>
        <div class="col-sm-3 explore">
            <div class="trendbox">
                <div>Trending People </div>
                <ul class="reccomendedusr">
                    <li class="usr hdiv">
                        <a href="profiles/temp_1.html"  id = "userlink1" class="betterlink"> Darth Vader</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_2.html"  id = "userlink2" class="betterlink"> Nikola Jokic</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_3.html"  id = "userlink3" class="betterlink">Stephen Hawking</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_4.html"  id = "userlink4" class="betterlink">Alan Turing</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_5.html"  id = "userlink5" class="betterlink">Ada Lovelace</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_6.html"  id = "userlink6" class="betterlink">Isaac Asimov</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_7.html"  id = "userlink7" class="betterlink">Hari Seldon</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_8.html"  id = "userlink8" class="betterlink">Luke Skywalker</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_9.html"  id = "userlink9" class="betterlink">Von Miller</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_7.html" id = "userlink10" class="betterlink">Hari Seldon</a>
                    </li>
                </ul>

            </div>

            <div class="trendbox">
                <div>Trending Topics</div>
                <ul class="reccomendedusr">
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink1" class="betterlink"><p>Inception: The Movie Never Ended</p></a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink2" class="betterlink"><p>Broncos win 10th superbowl in a row</p></a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink3" class="betterlink">Nolan Sweeps Emmy's</a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink4" class="betterlink">F1 Comes to Colorado</a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink5" class="betterlink"><p>AI acheives sapience:<br>
                                Now addicted to buzzfed quizes</p></a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink6" class="betterlink"><p>Dog Refuses to eat breakfast,<br>
                                will eat used tissue</p></a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink7" class="betterlink">National Parks: America's Best Idea</a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink8" class="betterlink">Moonbase Alpha</a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink9" class="betterlink">Daft Punk Says Goodbye</a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink10" class="betterlink">Fast Cars: Cool or Really Cool?</a>
                    </li>
                </ul>
            </div></div>
    </div>

    <div class=" column-sm-6 feed">

    </div>
















</div>