
<div class="row" id = "feedApp" :key="pid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="feed col-lg-7">
            <div  class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                                <label for = "postTitle">Post Title</label>
                                <input v-model="posttitle" type="text" id="postTitle" name="postTitle">
                                 <label for = "postContent">Post Content</label>
                                <input  v-model="postcontent" type="text" id="postContent" name="postContent">

                                <button v-on:click="submitPost">Post</button>

                        </div>
                    </div>

                </div>
            </div>
            <template v-for = "post in posts">
                <div  class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{post.post_title}}</h5>
                                <p class="card-text">{{post.post_author}}</p>
                                <p class="card-text">{{post.post_content}}</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>

                    </div>
                </div>
            </template>
             </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-3 explore">

            <div class="trendbox">
                <div id="resize">Trending People </div>
                <ul class="reccomendedusr">
                    <li class="usr hdiv">
                        <a href="profiles/temp_1.html"  id = "userlink1" class="betterlink"> Darth Vader</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_2.html"  id = "userlink2" class="betterlink"> Nikola Jokic</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_3.html"  id = "userlink3" class="betterlink">Stephen Hawking</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_4.html"  id = "userlink4" class="betterlink">Alan Turing</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_5.html"  id = "userlink5" class="betterlink">Ada Lovelace</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_6.html"  id = "userlink6" class="betterlink">Isaac Asimov</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_7.html"  id = "userlink7" class="betterlink">Hari Seldon</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_8.html"  id = "userlink8" class="betterlink">Luke Skywalker</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_9.html"  id = "userlink9" class="betterlink">Von Miller</a>
                    </li>
                    <li class="usr hdiv">
                        <a href="profiles/temp_7.html" id = "userlink10" class="betterlink">Hari Seldon</a>
                    </li>
                </ul>

            </div>

            <div class="trendbox">
                <div id="resize">Trending Topics</div>
                <ul class="reccomendedtopic">
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink1" class="betterlink"><p>Inception: The Movie Never Ended</p></a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink2" class="betterlink"><p>Broncos win 10th superbowl in a row</p></a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink3" class="betterlink">Nolan Sweeps Emmy's</a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink4" class="betterlink">F1 Comes to Colorado</a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink5" class="betterlink"><p>AI acheives sapience:<br>
                                Now addicted to buzzfed quizes</p></a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink6" class="betterlink"><p>Dog Refuses to eat breakfast,<br>
                                will eat used tissue</p></a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink7" class="betterlink">National Parks: America's Best Idea</a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink8" class="betterlink">Moonbase Alpha</a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink9" class="betterlink">Daft Punk Says Goodbye</a>
                    </li>
                    <li class="topic hdiv">
                        <a href="profiles/temp_7.html" id = "topiclink10" class="betterlink">Fast Cars: Cool or Really Cool?</a>
                    </li>
                </ul>
             </div>

        </div>

















</div></div>