
<div class="row" >
    <div class=" col-lg-7" id = "feedApp" :key="pid">
        <div class="col-sm-1"></div>
        <div class="feed">
            <div  class="card inpost mb-3">
                    <div  class="row no-gutters card-body justify-content-center">
                        <div class="input-group input-group-lg align-items-md-center">

                                <input v-model="posttitle"  class="form-control intitle" placeholder="Post Title" type="text" id="postTitle"   name="postTitle">
                        </div>
                        <div class="input-group input-group-lg align-items-md-center">
                            <textarea   v-model="postcontent" class="form-control incontent" placeholder="Post Content" type="text" id="postContent" name="postContent"></textarea>
                        </div>
                        <div class="input-group input-group-lg align-items-md-center">
                            <input v-model="posttags" class="form-control" placeholder="Tags" type="text" id = "postTags" name="postTags">

                                <button v-on:click="submitPost" class ="postbutton">Post</button>
                        </div>
                </div>
            </div>
            <template >
                <div v-for = "post in posts" v-bind:key= 'post._id' class="card mb-3" v-bind:id='post.post_author'>
                    <div  class="row no-gutters card-body">

                        <div class="col-md-8 justify-content-center">

                                <p class="post_title">{{post.post_title}}</p>
                                <p class="post_author">{{post.post_author}}</p>
                                <p class="post_content">{{post.post_content}}</p>
                        </div>
                        <div class="post_footer">

                                    <span v-for="item in post.list_tags" class="col-md-auto post_tag">
                                        {{item}}
                                    </span>

                        </div>
                    </div>
                    <button v-bind:id='post.post_author' class="followbutton" v-on:click="followUser($event)">follow poster</button>
                </div>
            </template>
             </div>




        </div>
    <div class="col-lg-4" id="tagApp">
        <template v-for = "tag in tags">
            <div class="trending_tag">

                <a :href="`/tags/${tag._id}`">
                    {{tag.name}}</a>
            </div>

        </template>
    </div>
    <div>

    </div>
</div>

















