
<div class="row" >
    <div class=" col-lg-7" id = "feedApp" :key="pid">
        <div class="col-sm-1"></div>
        <div class="feed">
            <div  class="card mb-3">
                <div class="row no-gutters">


                        <div class="col-md-8 card-body">

                                <input v-model="posttitle" placeholder="Post Title" type="text" id="postTitle" name="postTitle">

                                <input  v-model="postcontent" placeholder="Post Content" type="text" id="postContent" name="postContent">

                                <input v-model="posttags" placeholder="Tags" type="text" id = "postTags" name="postTags">
                                <button v-on:click="submitPost" class ="postbutton col-md-6">Post</button>

                        </div>


                </div>
            </div>
            <template >
                <div v-for = "post in posts" v-bind:key= 'post._id' class="card mb-3" v-bind:id='post._id'>
                    <div  class="row no-gutters card-body">

                        <div class="col-md-8">

                                <h5 class="post_title">{{post.post_title}}</h5>
                                <p class="card-text">{{post.post_author}}</p>
                                <p class="card-text post_content">{{post.post_content}}</p>
                                <div class="container">
                                    <div class="row justify-content-center">
                                    <div v-for="item in post.list_tags" class="col-md-auto post_tag">
                                        {{item}}
                                    </div>
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                                <button v-bind:id='post.post_author' class="p" v-on:click="followUser">follow poster</button>

                        </div>

                    </div>
                </div>
            </template>
             </div>




        </div>
    <div class="col-lg-4" id="tagApp">
        <template v-for = "tag in tags">
            <div class="trending_tag">

                <a :href="`/tags/${tag._id}`">
                    {{tag.name}}</a>
            </div>

        </template>
    </div>
    <div>

    </div>
</div>

















