
<div class="row" id = "feedApp" :key="pid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="feed col-lg-7">
            <div  class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                                <input v-model="posttitle" placeholder="Post Title" type="text" id="postTitle" name="postTitle">

                                <input  v-model="postcontent" placeholder="Post Content" type="text" id="postContent" name="postContent">

                                <input v-model="posttags" placeholder="Tags" type="text" id = "postTags" name="postTags">
                                <button v-on:click="submitPost" class ="postbutton col-md-6">Post</button>

                        </div>
                    </div>

                </div>
            </div>
            <template v-for = "post in posts">
                <div  class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="post_title">{{post.post_title}}</h5>
                                <p class="card-text">{{post.post_author}}</p>
                                <p class="card-text">{{post.post_content}}</p>
                                <div class="container">
                                    <div class="row justify-content-center">
                                    <div v-for="item in post.list_tags" class="col-md-auto post_tag">
                                        {{item}}
                                    </div>
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>

                    </div>
                </div>
            </template>
             </div>

        <div class="col-lg-1"></div>


        </div>
</div>

















</div></div>