<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Vibez</title>
	 
  
	<link href="css/styles.css" rel="stylesheet">
    <link href="css/sidebars.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  
    <script src="https://unpkg.com/vue@next"></script>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="js/sidebar.js"></script>
</head>

<body class="bodyformat">
    <header>
        <div class="content d-flex flex-row">
            <img src="logos/vibez_logo.png" class="logo" width="71" height="73" alt="logo">
            <h1 class="header">Vibez</h1>
            <button class="openbtn hidden" id="openbutton" onclick="openbar('sidebar')">open</button> 
            
            <div class="navitem" id = "navmenu">
                <a href="sign_in.html">Login</a> 
                <a  href="sign_up.html">Sign Up</a>
                <a href="myprofile.html">My Profile</a> 
                <a href="messages.html">messages</a> 
                    <a href="search.html">search</a> 
                     
            </div>
            <button id="closebutton" class = "clsebtn" onclick="closebar('sidebar')">close</button>
    </header>
	

	<div class="zerofloat">
		<%- body %>
	</div>

</body>

<footer id = "footer">
    <a href ="README.md">About</a>
    <div>©2021</div>
</footer>


</html>