<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Vibez</title>
	 
  
	<link href="css/styles.css" rel="stylesheet">
    <link href="css/sidebars.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="css/sign_in.css">
    <script src="https://unpkg.com/vue@next"></script>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="js/sidebar.js"></script>
</head>

<body class="bodyformat">
    <header>
        <div class="d-flex flex-row">
            <a href="/">
            <img src="logos/vibez_logo.png" class="logo" width="71" height="73" alt="logo">
            </a>
            <h1 class="header">Vibez</h1>
            <button class="openbtn hidden" id="openbutton" onclick="openbar('sidebar')">open</button> 
            
            <div class="navitem" id = "navmenu">
                <a href="/login"  style="background-color: #ed4b4b">Login</a>
                <a  href="/signup" style="background-color: #f2b157">Sign Up</a>
                <a href="myprofile.html" style="background-color: #75d24b">My Profile</a>
                <a href="messages.html" style="background-color: #4b97d8">messages</a>
                    <a href="search.html"style="background-color: #a75fc2">search</a>
                     
            </div>
            <button id="closebutton" class = "clsebtn" onclick="closebar('sidebar')">close</button>
        </div>
    </header>
	

	<div class="">
		<%- body %>
	</div>

</body>

<footer id = "footer">
    <a href ="README.md">About</a>
    <div>©2021</div>
</footer>


</html>