<div class="section" onload="hidenavbar()">
<div class="main">
<div class="form">
    <input type="email" class="text" placeholder="Email or Username" required><br>
    <input type="password" class="password" placeholder="Password" required><br>
</div>
<div class="btn">
    <button type="submit" class="login-btn">
        Log In
    </button>
</div>
<div class="btn">
    <br>
    <p><a href=""> Forgot Username?</a></p><br>
    <p><a href=""> Forgot Password?</a></p>
</div>
</div>
</div>