<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title> Vibez Log In</title>
    <link rel="stylesheet" href="css/sign_in.css">
</head>

<body>
    <div class="section">
        <div class="content">
            <img src="/logos/vibez.png" width="80px" height="70px">

        </div>
        <div class="heading">
            <h2>
                Log In To Vibez <br>
            </h2>
        </div>

        <div class="main">
            <div class="form">
                <input type="email" class="text" placeholder="Email or Username" required><br>
                <input type="password" class="password" placeholder="Password" required><br>
            </div>
            <div class="btn">
                <button type="submit" class="login-btn">
                    Log In
                </button>
            </div>
            <div class="btn">
                <br>
                <p><a href=""> Forgot Username?</a></p><br>
                <p><a href=""> Forgot Password?</a></p>
            </div>

        </div>

    </div>
</body>

</html>