<!DOCTYPE html>
<html>

<head>
    <title> Sign Up with Vibez</title>
    <link rel="stylesheet" href="css/signup.css">
    <script src="/public/js/validateForm.js"></script>
    
</head>

<body>
    <form name="signupForm" onsubmit="return checkPassword(this)" action="/subscribe" method="POST">
        <div id="login-box">
            <div class="left-box">
                <h1> Sign Up with Vibez</h1>
                <input type="text" name="firstName" placeholder="First Name" />
                <input type="text" name="lastName" placeholder="Last Name" />
                <input type="email" name="email" placeholder="Email" required />
                <input type="password" name="password1" placeholder="Password" />
                <input type="password" name="password2" placeholder="Retype Password" />

                <input type="submit" name="signup-button" value="Sign Up" />




            </div>
        </div>
        <script src="/public/js/validateForm.js"></script>
    </form>
</body>

</html>