 
  .navitem a {

   
    color: black;
    background-color: lightcoral;
    border: 2px solid black;
   
    
    text-decoration: none;
    text-align: center;
 
    z-index: 10;
 
    transition: 0.3s;
  }

.hidden{
  display: none;
}

  .navitem{
    color: lightcoral;
  }

  .clsebtn {
    position: relative;
    background-color: lightcoral;
    left: 10px;
    color: black;
    border: black;
  }
  .opnbtn {
    position: absolute;
    background-color: lightcoral;
    right: 10px;
     color: black;
    border: black;
  }