*{
    margin: 0%;
    padding: 0%;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
  }




  .hdiv{
    
 
    transition: all 2s;
    
}


.right{
  float: right;
}
.left{
  float: left;
}
.hdiv:hover{
    width: 170%;
    height: 100px;
}

textarea {
  resize: both;
  overflow: auto;
}

.betterlink{
  z-index: 100;
  margin: 0%;
    padding: 0%;
    width: auto;
    border:transparent;
    background-color: black;
    color:white;
    overflow: hidden;
white-space: nowrap;
}







ul.reccomendedusr{
    list-style-type: circle;
    border-color: gold;

 
}
#resize{
    width: 100%;
    background-color: transparent;
    text-align: center;
}
ul.reccomendedtopic{
    list-style-type: none;
    border-color: gold;
    background-color: transparent;
    width: auto;
    max-width: 100%;
    float: right;
}
li.usr{
 
    text-align: center;
   
    margin: auto;
    border-radius: 10px;
    border: 2px solid gold;
    width: 100%;
    float: right;
    overflow: hidden;
white-space: nowrap;
    z-index: 25;
}
.form input {
    padding: 20px;
    width: 500px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid rgb(29 161 242);
    outline-style: none;
    padding-bottom: 10px;
  
  }
li.topic{
  text-align: center;
    margin: auto;
    border-radius: 10px;
    border: 2px solid purple;
    width: 100%;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    z-index: 25;
}
  a.buttonlink:link, a.buttonlink:visited {
    background-color: lightcoral;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a.buttonlink:hover, a.buttonlink:active {
    background-color: lightcoral;
  }
.explore{
    position: relative;
    float:right  ;
    width: auto;

    font-size: 18px;
    z-index: 0;
    border: 2px solid black;
    border-radius: 5px;

}

.trendbox{

    background-color: transparent;
     border: 2px solid transparent;
     position: relative;
    float:right  ;
    border-radius: 5px;


}
#newpost{

    position: relative;
    text-align: center;
    border: 2px solid lightblue;
    border-radius: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 
    background-color: white;
  }
  #postbutton{
    background-color: lightblue;
    color:black;
    border-radius: 25%;
  }
  .intitle{
    position: relative;
    border:0px;
    margin-left: 35%;
    border-bottom: 1px solid blue;
  }
  li a {
    display: block;
    color: black;
    background-color: lightcoral;
    border: 2px solid black;
    border-radius: 30px;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }
  li button{
    display: block;
    border-radius: 30px;
  }
  #closebutton{
    background-color: lightcoral;
  }
  #openbutton{
    background-color: lightcoral;
  }
  /* Change the link color on hover */
  li a:hover {
    background-color: black;
    color: white;
    z-index: 289;
  }
  #titlebox{
    font-size: large;
  }
#postbody{
  border-bottom: 1px solid #75d24b;
  border-radius: 5%;
}
#feed{

    background-color: transparent
}
#sideGradient{

    background-image: linear-gradient(to bottom, rgba(255,0,0,0),#ed4b4b, rgba(255,0,0,0),#f2b157, rgba(255,0,0,0),#75d24b, rgba(255,0,0,0),#4b97d8, rgba(255,0,0,0),#a75fc2, rgba(255,0,0,0));

}

.postbutton{
    background-image: radial-gradient(  #ed4b4b ,#f2b157, #75d24b, #4b97d8,  #a75fc2);
    padding: 5px;
    border-radius: 10px;
    align-content: center;

}
.bodyformat{
  background-color: black;
   
}



.post{
    border-radius: 5px;
    border:2px solid lightcoral;
    padding: 5px;
    text-align: center;


    position: relative;
}

.profile_pic{
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
    float: left;
}
.zerofloat{
  padding: 0%;
  margin-right: 0%;
}
.post_title{
    position: relative;
    text-align: center;
}

.delete_link{
    background-color: red;
    text: black;
}
.delete_button{
    margin-left: 47%;
}
.center_header{
    text-align: center;
}
 .usrcard{
     text-align: center;
     background: rgb(50,50,50);
     border-radius: 10px;
     margin: 5px;
     padding: 5px;
 }

 .card{
     position: relative;
     text-align: center;
     align-content: center;
 }
.card-body{
    position: center;
    align-content: center;
}
.post_tag{
    background-color: transparent;
    color: grey;
}
 .post_footer{
     background-color: transparent;
 }
 .trending_tag{
     background-color:black;
     padding: 5px;
     border: 2px solid #a75fc2;
     width: available;
     margin: 3px;
 }
.post_content{
    font-size: 16px;
    font-family: sans-serif;
   
    width: 100%;
    text-align: center;
    padding: 8px;
    height: auto;
}
.navitem{
    position: relative;
    float:left  ;


    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
  
    border-radius: 5px;
}

.navelement{

    min-width: 10px;
    padding: 5px;
    font-size: 16px;
    font-family: sans-serif;
    border: 2px solid white;
}

.header{
    float: left;
    height: 74px;
    font-size: 74px;
    font-family: sans-serif;
}
.logo{
    float : left;
}
#footer
{
    width: 100%;
    text-align: center;
    bottom: 0;
}
.rightaside {
    float: right;
    width: auto;
    border: 2px solid white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
  }

  .leftaside {
    float: left;
    width: auto;
    border: 2px solid white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
  }

 .sidebarheader{
    border-radius: 5px;
    background-color: black;
    color:white;
    padding: 5px;
 }