<h1>Edit Profile</h1>
<div class = "row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-3"  id="userapp">
        <form>
            <div class="form-group">

                <input placeholder="First Name" v-model= "firstName" type="text" name ="firstName" id="firstName" class="form-text">

                <input placeholder="Last Name" v-model="lastName" type="text" name="lastName" id="lastName" class="form-text">

               
            </div>
            <button type="submit" class="btn btn-primary" v-on:click="updateUser">Save</button>
        </form>
        <a class="col-md-3 delete_link" href="/delete" class="btn">DELETE PROFILE</a>
    </div>


</div>